.pager {
  margin: 2vh 0;
  padding: 0;

  list-style: none;
  text-align: center;

  display: flex;
  justify-content: space-between;

  li {
    border-radius: 15px;
    border-color: $secondary-color;

    a {
      padding: 15px 25px;
      background: $button-color;

      text-transform: uppercase;
      text-decoration: none;
    }

    a:hover {
      background: $button-highlight-color;
    }
  }
}
