//fonts
$header-font-family: Montserrat, serif;
$text-font-family: Karla;

//colors
$primary-color: white;
$secondary-color: black;
$accent-color: pink;
$button-color: #c7cbd1;
$button-highlight-color: #7f838a;
$footer-color: #ffffff;
